.btn {
  cursor: pointer;

  &.mod-ui-config {
    background: none;
    border: none;
    border-radius: 100%;
    height: 2.5em;
    margin-left: 10px;
    outline: none;
    width: 2.5em;

    &:hover,
    &:focus {
      & .icon path {
        stroke: $ui-link;
      }
    }

  }

  &.mod-close {
    background: none;
    border: none;
    color: $ci-gray-lt;
    font: normal 200 3em/1 $sans;
    outline: none;
    transition: all 0.25s ease;

    &:hover,
    &:focus {
      color: $ci-gray-dk;
    }
  }

  &.mod-textlink {
    background: none;
    border: none;
    color: $ui-link;
    margin-left: 10px;
    vertical-align: middle;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}