.title {
  font: normal 2em/1 'Arial';
}

.body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stage {
  perspective: 1000;
  width: 25vh;
  height: 25vh;
  margin-top: 2em;
  margin-bottom: 2em;

  & .coin {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;

    & .coin-face {
      width: 25vh;
      height: 25vh;
      border-radius: 100%;
      background: #ccc;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 25vh;
      font-size: 5vh;
      text-align: center;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.25s ease;
      background: linear-gradient(45deg, rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
      color: rgba(223,182,103,1);

      & .text {
        z-index: 1000;
        position: relative;
      }
      &:after{
        content: "";
        width: 23vh;
        height: 23vh;
        display: block;
        top: 1vh;
        left: 1vh;
        position: absolute;
        border-radius: 100%;
        z-index: 600;
        background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
        border-top: 1px solid rgba(255,255,255,0.3);
        border-left: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(209,156,53,0.3);
        border-right: 1px solid rgba(209,156,53,0.5);
        box-shadow: inset 0 0 2px 2px rgba(153, 106, 26, .05);
      }

      &:before{
        content: "";
        width: 25vh;
        height: 25vh;
        display: block;
        position: absolute;
        border-radius: 100%;
        z-index: 500;
        background: linear-gradient(135deg,  #d19c35 0%,#f7e6c5 50%,#e8b558 100%);
        border: 1px solid #e6b86a;
      }

    }


  }

  &.is-flipping .coin {
    transform: rotateY(360deg);

    & .coin-face {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    }
  }
}

@import "call_to_action";